<h1 style='color:rgb(52, 152, 219)'; align=center><font size = 8> DIAMOND PRICES - ANALYSIS AND MODELING </font></h1>

<h2 style='color:rgb(52, 152, 219)'; align=left><font size = 6> NOTEBOOK 01-01: ETL data from Kaggle </font></h2>

# REVISION HISTORY

| REV | DESCRIPTION             | DATE         |  BY   | CHECK | APPROVE  |
|:---:|:-----------------------:|:------------:|:-----:|:-----:|:--------:|
| A0  | ISSUED FOR REVIEW (IFR) | 2024-APR-XX  |  IAC  |       |          |
|     |                         |              |       |       |          |

## DETAILED DESCRIPTION OF REVISIONS

> **REV A0** - HOLD

# INTRODUCTION

The ETL (Extract, Transform, Load) process is a fundamental component of creating a dataset. It involves the movement and manipulation of raw data from its source, to a target destination in a structured and meaningful format. This format is then loaded into either a CSV, spreadsheet, or database for future analytics and machine learning utilization.

# ETL STEPS

For each data source used in this project, the ETL process that must be followed is described bellow:

1. [X] **Extract:**

    * [X] **Data Source Connectivity:** ETL tools or scripts are used to connect to the data sources and retrieve the necessary data. This may involve querying databases, reading files, or pulling data from APIs.

    * [X] **Data Extraction:** The extraction phase involves retrieving raw data from a data source. Some examples of common data sources include:
      
        *  Files (music, images, spreadsheets, or other digital files)
        *  Databases
        *  APIs
        *  Sensors
        *  Web services
        *  Web scraping
        *  Streaming data sources
        
        Data can be extracted in its raw form, or from a structured / semi-structured format such as: CSV, JSON, XML, or relational databases.

3. [X] **Transform:**

    * [X] **Cleaning and Standardization:** Creating a [tidy compliant](https://about.dataclassroom.com/blog/keep-your-data-tidy) dataset by cleaning, handling missing values, removing duplicates, correcting errors, and standardizing data and data type formats.


5. [X] **Load:**
   
   * [X] **Data Loading Strategies:** Describe how often is the data updated, and what kind of data pipeline is required in order to use in a continuous analytics or machine learning project.
   * [X] **Destination Schema:** Define the format that will be used. CSV is the most common, but data if stored in a data warehouse, lake or databases typically load data into a predefined schema or data model in the target destination. This ensures consistency and compatibility with downstream analytics and reporting tools.
    * [X] **Data Loading:** The load phase involves loading the transformed data into a target destination, such as a folder, data warehouse, data lake, or database. This can be a one-time load or a continuous process, depending on the frequency of data updates and the requirements of the analysis.

<div class="alert alert-warning" role="alert">
  <h3 class="alert-heading">NOTE:</h3>
  <p>Best practice is for every dataset to have it's own notebook that describes the ETL process to create the dataset.</p>
</div>

# REQUIRED LIBRARIES

The following libraries are required to run this notebook.

In [1]:
# Library to create and handle a tabular dataset
import pandas as pd

# EXTRACT

The process of gathering raw data from its original source. This source includes anything from databases and spreadsheets to social media feeds and sensor readings and web pages.

## DATA SOURCE CONNECTIVITY

The primary function of ETL tools or scripts is to establish connections with different sources of data. This refers to the process of using scripts to establish a connection to the raw data source. Scripts are programming languages like Python, SQL, that can be used to write custom ETL code that can automate the process of acquiring the data set.

### CONNECTING TO KAGGLE

Connecting to [Kaggle](https://www.kaggle.com/) is a manual process. There are no tools or scripts that can be used to automatically connect to the data source.

## DATA EXTRACTION

Is the process of extracting or copying raw data from a data source and storing it in a staging area.

### DATA SOURCE

The data needed for this project comes from the following Kaggle page:

> [Diamonds - Analyze diamonds by their cut, color, clarity, price, and other attributes](https://www.kaggle.com/datasets/shivam2503/diamonds)

### EXTRACTION METHOD

This dataset must be manually downloaded, un-archived (uncompressed), and a copy of the dataset placed into a working folder. The following link will download a copy of the dataset, and prompt you to save it to a folder of your choosing.

> https://www.kaggle.com/datasets/shivam2503/diamonds/download?datasetVersionNumber=1

### STAGING AREA

The downloaded file, archive.zip, is stored in the following location:

> 00_Data/00_Datasets/Originals/archive.zip

A working copy of the dataset extracted from the `archive.zip` file can be found here:

> 00_Data/00_Datasets/diamonds.csv

# TRANSFORMATION

Raw data is rarely perfect. This stage is all about cleaning, shaping, and manipulating the data to make it [tidy comppliant](https://about.dataclassroom.com/blog/keep-your-data-tidy).

## CLEANING AND STANDARDIZATION

* Data cleaning consists in identifying and correcting errors, inconsistencies, and inaccuracies in the data by removing duplicates, correct errors, and handling missing values.
* Standardization involves transforming data into a consistent format or scale to facilitate comparison.

The scripts used in transforming this dataset are:

In [2]:
# Path to the dataset
filePath = "./../00_Data/00_Datasets/"

In [3]:
# Filename
diamondsCSVFilename = "diamonds.csv"

In [4]:
# Create a data frame
diamonds_df = pd.read_csv(
    filePath + diamondsCSVFilename,
    index_col = 0
)

# Display the newly created data frame
diamonds_df

       carat        cut color clarity  depth  table  price     x     y     z
1       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
2       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
4       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
5       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53936   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53937   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53938   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53939   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53940   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

### DATA DICTIONARY

A data dictionary is used to help clean and standardize the dataset, by communicate the expected structure and metadata of the dataset. It serves as a comprehensive reference guide for understanding the characteristics and properties of the data elements stored in the dataset.

The following table is the data dictionary for this dataset:

| Column Name | Description                                                                          | Categorical or Numerical | Type | DType |
|:------------|:-------------------------------------------------------------------------------------|--------------------------|------|-------|
| carat| Carat denotes the weight of a diamond, not the size. 1 carat = 1/5 grams (0.2 grams)        | Numerical | Continuous | Float|
| cut  | Refers to its proportions, symmetry, and polish, which greatly affect its brilliance, sparkle, and overall appearance | Categorical | Ordinal | Object |
| color | Refers to the presence or absence of color in a diamond, specifically the degree of colorlessness or lack of hue | Categorical | Ordinal | Object |
| clarity | Refers to the presence or absence of internal flaws                                      | Categorical | Ordinal | Object |
| depth   | (depth %) A measurement used to assess the depth of a diamond relative to its width (or diameter)  | Numercial | Continuous | Float |
| table   | (table %) The table percentage refers to the size of the table facet of a diamond relative to the diameter of the entire diamond's crown (the top portion above the girdle) | Numercial | Continuous | Float |
| price | The price of diamonds in USD, the target for this project | Numerical | Continuous | Integer |
| x | The crown height of a diamond | Numerical | Continuous | Float |
| y | The girdle diameter of a diamond | Numerical | Continuous | Float |
| z | The pavilion depth of a diamond | Numerical | Continuous | Float |

Any columns, other then the ones identified above, are not required for this analysis.

### CLEANING OPERATIONS

#### FINDING MISSING VALUES

In [5]:
# Inspect the data frame
diamonds_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53940 entries, 1 to 53940
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.5+ MB

There does not appear to be any missing values in this dataset.

#### CORRECTING ERRORS

There is one observable error found in this dataset:

1. [X] **REPLACE:** In the `cut` feature, there is a `Premium` rating. This rating not not recognized in the **AGS** grading system. Therefore; `Premium` will be replaced by `Excellent`.

##### REPLACE

Below are the scripts to change a `Premium` grade to `Excellent` in order to align with **AGS** Grading system.

In [6]:
# Replace operation
diamonds_df['cut'] = diamonds_df['cut'].replace('Premium', 'Excellent')

# Verify changes
diamonds_df

       carat        cut color clarity  depth  table  price     x     y     z
1       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
2       0.21  Excellent     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
4       0.29  Excellent     I     VS2   62.4   58.0    334  4.20  4.23  2.63
5       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53936   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53937   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53938   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53939   0.86  Excellent     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53940   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

#### FINDING AND DELETING DUPLICATES

Duplicated records affect data quality and consistency. Duplicated records also create bias and reduce computer performance when loading and using the dataset.

In [7]:
# Check for duplicated values and store the results
duplicateValues_df = diamonds_df[diamonds_df.duplicated(
 keep = "first"   
)
].sort_values(
    by = ['carat', 'cut', 'color']
)

# Display the results
duplicateValues_df

       carat        cut color clarity  depth  table  price     x     y     z
29803   0.30  Excellent     D     SI1   62.2   58.0    709  4.31  4.28  2.67
47297   0.30       Good     J     VS1   63.4   57.0    394  4.23  4.26  2.69
28594   0.30      Ideal     G     VS2   63.0   55.0    675  4.31  4.29  2.71
34423   0.30      Ideal     G      IF   62.1   55.0    863  4.32  4.35  2.69
31628   0.30      Ideal     H     SI1   62.2   57.0    450  4.26  4.29  2.66
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
24864   2.50       Fair     H     SI2   64.9   58.0  13278  8.46  8.43  5.48
26609   2.54  Very Good     H     SI2   63.5   56.0  16353  8.68  8.65  5.50
26555   2.66       Good     H     SI2   63.8   57.0  16239  8.71  8.65  5.54
27517   3.01       Fair     I     SI2   65.8   56.0  18242  8.99  8.94  5.90
27519   3.01       Good     I     SI2   63.9   60.0  18242  9.06  9.01  5.77

[146 rows x 10 columns]

In [8]:
# Create a new dataset with duplicates removed
diamondsNoDuplicates_df = diamonds_df.drop_duplicates()

# Verify the operation was successful
diamondsNoDuplicates_df

       carat        cut color clarity  depth  table  price     x     y     z
1       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
2       0.21  Excellent     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
4       0.29  Excellent     I     VS2   62.4   58.0    334  4.20  4.23  2.63
5       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53936   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53937   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53938   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53939   0.86  Excellent     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53940   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53794 rows x 10 columns]

### STANDARDIZATION OPERATIONS

Data standardization involves transforming data into a consistent format or scale, facilitating comparison and analysis. It typically involves:

1. **Standardizing Units:**  Convert numerical variables measured in different units or scales into a common unit of measurement. For example, converting temperature measurements from Deg C to Deg F, or converting money from different countries into a common currency.
2. **Scaling Variables:** Scale numerical variables to a common range or distribution to remove differences in magnitude. Common scaling techniques include min-max scaling (scaling values to a specified range, such as [0, 1]) and z-score normalization (scaling values to have a mean of 0 and a standard deviation of 1).
3. **Normalizing Distributions:** Transform variables to follow a specific distribution or shape, such as a normal distribution. This can improve the performance of statistical models that assume certain distributional properties.
4. **Variable naming:** Standardizing variable names and conventions.

#### STANDARDIZING UNITS

There are no requirements to standardize units in this dataset.

#### SCALING VARIABLES

There are no requirements to scale variables in this dataset.

#### NORMALIZE DISTRIBUTIONS

There are currently no requirements to normalize the distributions found in this dataset.

#### VARIABLE NAMING

The columns in this dataset will be renamed as shown in the table below, in order for column names to better express the data contained in the column, in terms of names and definitions commonly used in the diamond industry.

| Old Column Name | New Column Name      | Reason for change               |
|-----------------|----------------------|---------------------------------|
| carat           | Carat                | Consistent naming style         |
| cut             | Cut                  | Consistent naming style         |
| color           | Color                | Consistent naming style         |
| clarity         | Clarity              | Consistent naming style         |
| depth           | Total Depth %        | Better description of feature   |
| table           | Table %              | Better description of feature   |
| price           | Price                | Consistent naming style         |
| x               | Crown Height (mm)    | Better description of feature   |
| y               | Girdle Diameter (mm) | Better description of feature   |
| z               | Pavilion Depth (mm)  | Better description of feature   |

Below are the scripts that will rename this dataset.

In [9]:
# Dictionary mapping old names to new names
replaceNames_dict = {
    'carat' : 'Carat',
    'cut' : 'Cut',
    'color' : 'Color',
    'clarity' : 'Clarity',
    'price' : 'Price',
    'depth' : 'Total Depth %',
    'table' : 'Table %',
    'x' : 'Crown Height (mm)',
    'y' : 'Girdle Diameter (mm)',
    'z' : 'Pavillion Depth (mm)'
}

In [10]:
# Rename the columns
diamondsNoDuplicates_df.rename(
    columns = replaceNames_dict,
    inplace = True
)

# Inspect the results
diamondsNoDuplicates_df

/tmp/ipykernel_14786/4253616694.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diamondsNoDuplicates_df.rename(

,Carat,Cut,Color,Clarity,Total Depth %,Table %,Price,Crown Height (mm),Girdle Diameter (mm),Pavillion Depth (mm)
1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
2,0.21,Excellent,E,SI1,59.8,61.0,326,3.89,3.84,2.31
3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
4,0.29,Excellent,I,VS2,62.4,58.0,334,4.20,4.23,2.63
5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...
53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53939,0.86,Excellent,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [11]:
# Reordered columns
reorderedColumns_list = [
    'Carat',
    'Cut',
    'Crown Height (mm)',
    'Girdle Diameter (mm)',
    'Pavillion Depth (mm)',
    'Table %',
    'Total Depth %',
    'Clarity',
    'Color',
    'Price'
]

In [12]:
# Create a new dataset, with reorganized columns
diamondsNoDuplicates_df = diamondsNoDuplicates_df[reorderedColumns_list]

# Inspect the new dataset
diamondsNoDuplicates_df

,Carat,Cut,Crown Height (mm),Girdle Diameter (mm),Pavillion Depth (mm),Table %,Total Depth %,Clarity,Color,Price
1,0.23,Ideal,3.95,3.98,2.43,55.0,61.5,SI2,E,326
2,0.21,Excellent,3.89,3.84,2.31,61.0,59.8,SI1,E,326
3,0.23,Good,4.05,4.07,2.31,65.0,56.9,VS1,E,327
4,0.29,Excellent,4.20,4.23,2.63,58.0,62.4,VS2,I,334
5,0.31,Good,4.34,4.35,2.75,58.0,63.3,SI2,J,335
...,...,...,...,...,...,...,...,...,...,...
53936,0.72,Ideal,5.75,5.76,3.50,57.0,60.8,SI1,D,2757
53937,0.72,Good,5.69,5.75,3.61,55.0,63.1,SI1,D,2757
53938,0.70,Very Good,5.66,5.68,3.56,60.0,62.8,SI1,D,2757
53939,0.86,Excellent,6.15,6.12,3.74,58.0,61.0,SI2,H,2757
53940,0.75,Ideal,5.83,5.87,3.64,55.0,62.2,SI2,D,2757

## TIDY COMPLIANCE

The concept of tidy data, popularized by [Hadley Wickham](https://vita.had.co.nz/papers/tidy-data.pdf), emphasizes a standardized structure for datasets that makes them easy to work with.

The following checklist must be used to validate that the dataset is Tidy Compliant:

1. [X] **Each variable forms a column**:
    * Verify that each variable in the dataset corresponds to a separate column. There should be no variables represented as both rows and columns or spread across multiple columns.

3. [X] **Each observation forms a row**:
    * Ensure that each row in the dataset represents a single observation or entity. There should be no duplicated rows or rows representing multiple observations.

5. [X] **Each type of observational unit forms a table**:
    * Confirm that the dataset is organized into separate tables or data frames, with each table representing a different type of observational unit. If necessary, split the dataset into multiple tables to ensure that each table is focused on a single type of entity or observation.

7. [X] **Variable names are informative and consistent**:
    * Check that variable names are clear, descriptive, and follow a consistent naming convention. Variable names should be informative enough to understand the meaning of the data they represent without ambiguity.

9. [X] **Data values are consistent and appropriate**:
    * Validate that data values are consistent with the variable's data type and format. For example, categorical variables should contain only predefined categories, numerical variables should contain valid numeric values, and date/time variables should follow a consistent format.

11. [X] **Missing values are handled appropriately**:
    * Examine how missing values are represented in the dataset and ensure that missing values are handled consistently across variables. Consider whether missing values should be imputed, removed, or retained based on the analysis requirements and potential impact on the results.

13. [X] **Data is normalized when necessary**:
    * Check whether the dataset requires normalization to ensure that data values are on a similar scale. Normalization may involve standardizing numerical variables, converting categorical variables into a common format, or transforming data to meet specific modeling assumptions.

15. [X] **Data integrity constraints are enforced**:
    * Implement data integrity constraints such as unique constraints, foreign key constraints, and domain constraints to maintain data consistency and integrity. Ensure that these constraints are enforced during data entry, manipulation, and storage processes.

17. [X] **No Row Duplicates:**
    * Ideally, your data shouldn't contain duplicate rows. Duplicates can skew analysis and waste storage space. Use appropriate methods to identify and remove duplicates based on your data context.
   
A dataset that meets this criteria has the best chance of achieving project success in building a predictive model.

# LOAD

The final step in this process is to store (load) the newly created dataset in a location accessible to the project team and stakeholders. Currently, the dataset is loaded in computer memory and will be erased when the Jupyter is shutdown. In order to preserve the updates made to this dataset, it will be saved to a local project directory.

## DATA LOADING STRATEGIES

### DATA UPDATE FREQUENCY

According to the version history found on [Kaggle](https://www.kaggle.com/datasets/shivam2503/diamonds), the dataset was last updated 6 years ago. 

* The dataset was manually downloaded. There is no API, or other means of automatically connecting or downloading the dataset.
* There are no expectations of the dataset being updated by the dataset provider. 
* The USD diamond prices may need to be adjusted to 2024 prices.

## DESTINATION SCHEMA

The dataset will be stored as a CSV file, in the following destination:

> 00_Data/00_Datasets/

All CSV files used in this project are stored in this location.

## DATA LOADING

The following scripts will save the dataset to the project directory:

In [13]:
# The name the csv
saveFileName = 'diamonds_ETL.csv'

In [14]:
# Save the data frame to csv
# filePath variable is previously defined
diamondsNoDuplicates_df.to_csv(
    filePath + saveFileName,
    index = False
)

# CONCLUSION

ETL enables access to clean, consistent data for visualization, and advanced analytics. This notebook described the steps used in create a high quality dataset.

## NEXT STEPS

NOTEBOOK 01-02_DM describes the Data Mining process used to prepare the data for analytics and machine learning.