<h1 style='color:rgb(52, 152, 219)'; align=center><font size = 8> DIAMOND PRICES - ANALYSIS AND MODELING </font></h1>

<h2 style='color:rgb(52, 152, 219)'; align=left><font size = 6> NOTEBOOK 4 - ETL </font></h2>

# REVISION HISTORY

| REV | DESCRIPTION             | DATE         |  BY   | CHECK | APPROVE  |
|:---:|:-----------------------:|:------------:|:-----:|:-----:|:--------:|
| A0  | ISSUED FOR REVIEW (IFR) | 2024-APR-XX  |  IAC  |       |          |
|     |                         |              |       |       |          |

## DETAILED DESCRIPTION OF REVISIONS

> **REV A0** - HOLD

# INTRODUCTION

This notebook describes the steps and methods used in the ETL (Extraction, Load, Transform) process.

# ETL (EXTRACT TRANSFORM LOAD)

The purpose of ETL is to create a data set that complies with the [Tidy Specification](https://about.dataclassroom.com/blog/keep-your-data-tidy). 
ETL stands for Extract, Transform, Load, and it refers to the process of extracting data from various sources, transforming it into a [Tidy Compliant](https://about.dataclassroom.com/blog/keep-your-data-tidy) format, and loading it into a target destination, typically a data warehouse or a database. ETL is a fundamental step in data integration and plays a crucial role in ensuring data quality, consistency, and usability for analysis.

# REQUIRED LIBRARIES

The following libraries are required to run this notebook.

In [1]:
# Library to create and handle a tabular dataset
import pandas as pd

In [2]:
# Library used to create interactive controls
import ipywidgets as widgets

# LOAD DATASET

The following scripts loads the dataset.

In [3]:
# Path to the dataset
filePath = "./../00_Data/00_Datasets/"

In [4]:
# Filename
diamondsCSVFilename = "diamondsCleaned.csv"

In [5]:
# Create a data frame
diamonds_df = pd.read_csv(
    filePath + diamondsCSVFilename,
    index_col = None
)

# Display the newly created data frame
diamonds_df

,Carat,Cut,Crown Height (mm),Girdle Diameter (mm),Pavillion Depth (mm),Table %,Total Depth %,Clarity,Color,Price
0,0.23,Ideal,3.95,3.98,2.43,55.0,61.5,SI2,E,326
1,0.21,Premium,3.89,3.84,2.31,61.0,59.8,SI1,E,326
2,0.23,Good,4.05,4.07,2.31,65.0,56.9,VS1,E,327
3,0.29,Premium,4.20,4.23,2.63,58.0,62.4,VS2,I,334
4,0.31,Good,4.34,4.35,2.75,58.0,63.3,SI2,J,335
...,...,...,...,...,...,...,...,...,...,...
53789,0.72,Ideal,5.75,5.76,3.50,57.0,60.8,SI1,D,2757
53790,0.72,Good,5.69,5.75,3.61,55.0,63.1,SI1,D,2757
53791,0.70,Very Good,5.66,5.68,3.56,60.0,62.8,SI1,D,2757
53792,0.86,Premium,6.15,6.12,3.74,58.0,61.0,SI2,H,2757
53793,0.75,Ideal,5.83,5.87,3.64,55.0,62.2,SI2,D,2757

# TRANSFORMATIONS

The following transformations will be done in this notebook...

In [ ]:
# Identify the bin edges
binEdges_list = [0, 0.29, 0.99, diamonds_df['Carat'].max()]

binEdges_list

In [ ]:
# Define labels for the categories
caratWeightcategories_list = ['Small Diamonds', 'Medium Diamonds', 'Large Diamonds']

caratWeightcategories_list

In [ ]:
# Create a new column 'diamond_category' to store the categories
diamonds_df['Diamonds Catagories'] = pd.cut(
    diamonds_df['Carat'], 
    bins = binEdges_list, 
    labels = caratWeightcategories_list, 
    right = False
)

diamonds_df

In [ ]:
@widgets.interact(caratSize = caratWeightcategories_list):
def caratInspector(caratSize):

In [ ]:
import pandas as pd

# Assuming you have a DataFrame 'data' with a column 'carat_weight' containing carat weights

# Define carat weight ranges for each category
carat_bins = {
    "Small Diamonds": (0.25, 1.00),
    "Medium Diamonds": (1.00, 3.00),
    "Large Diamonds": (3.00, np.inf)  # np.inf for values greater than or equal to 3.00
}

# Create a new column named 'diamond_size' using pd.cut
data['diamond_size'] = pd.cut(data['carat_weight'], bins=carat_bins.values(), labels=carat_bins.keys())

# Now you can use the 'diamond_size' column to filter or analyze diamonds by size category

# SAVE UPDATED FILE

The following scripts will save a copy of the updated csv.

In [ ]:
# The name the csv
saveFileName = ''

In [ ]:
# Save the data frame to csv
diamondsNoDuplicates_df.to_csv(
    filePath + saveFileName,
    index = False
)

# SUMMARY

This notebooks demonstrated the data mining techniques to create a data set.

## NEXT STEPS

NOTEBOOK 4 ETL activities.